.layout {
  display: flex;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 250px;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background: var(--background-dark);
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 0;
  }
  
  .main-content {
    padding: 1rem;
  }
} 